
*{
    margin: 0;
    padding: 0;
    font-size: 1px;
}


body{
    font-family: 'Lato', sans-serif;
    color: aliceblue;
}


/* 
-------------------------
CSS TIPOGRAFIAS
-------------------------
*/

h2{
    font-size: 35rem;
}


.checkbox label{
    font-size: 10rem;
}


.text-size-s{
    font-size: 12rem;
}


.text-size-m{
    font-size: 13rem;
}


.text-size-l{
    font-size: 15rem;
}



/* --------------- */

/* DISPLAY */

.flex-container{
    display: flex;
}

/* --------------- */

/* CSS HEADER Y MAIN */


.container-mayor{
    flex-direction: column;
    width: 100%;
}


header{
    min-height: 16vh;
    background-color: #191e2b;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}


.container-button{
    justify-content: space-around;
    width: 20%;
}


.container-button button{
    background-color: transparent;
}


.container-button i{
    margin-right: 6px;
}


/* --------------------
CSS MAIN
-------------------- */


main{
    background-color: #30343f;
    min-height: 84vh;
}


.meme-box{
    height: 525px;
    width: 40%;
    background-color: aliceblue;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.texto-meme{ 
    border: 1px solid black;
    box-sizing: content-box;
}


.texto-meme p{
    font-size: 40rem;
    font-family: 'Anton', sans-serif;
    color: #191e2b;
}


.meme-img{
    background-color: black;
    height: 65%;
    background-repeat: no-repeat;
    background-size: cover;
}


.boton-descargar{
    background-color: #2e7d32;
    border: none;
    border-radius: 4px;
    padding: 15px 20px;
    margin: auto;
    margin-top: 1%;
    color: aliceblue;
}


.boton-descargar i{
    margin-right: 15px;
}


.boton-descargar:hover{
    background-color: #1B5E20;
}


/* ------------------- */

/* ASIDES */

/* CSS GENERAL DE ASIDES */

aside{
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: #252935;
    padding: 30px 15px;
    overflow: scroll;
}


h4{
    font-size: 18rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20%;
}


form{
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}


section, form{
    border: 1px solid white;
}


input, textarea{
    margin: 4% 0%;
}

/* .padding-control-box{

} */


.form-control-box{
    color: aliceblue;
    padding: 8px;
    border-radius: 4px;
    background-color: #393e49;
    border: none;
    box-sizing: border-box;
    height: 35px;
}


.form-control-box:hover{
    background-color: #4E5565;
}


.form-control-box:focus{
    outline: none;
    background-color: #4E5565;
}


/* ASIDE IMAGEN */


.img-aside{
    position: fixed;
    right: 0;
}


textarea, input[type="url"]{     
    width: 100%;
    padding: 0px 5px;
}


.container-color-select{
    width: 100%;
    justify-content: space-between;
}


.half-color{
    width: 48%;
    justify-content: space-evenly;
    align-items: center;
}


input[type="color"]{     
    background-color: transparent;
    border: none;
    display: block;
    width: 18px;
}


.color-rounded::-webkit-color-swatch-wrapper,
.color-rounded::-webkit-color-swatch{
    height: 18px;
    min-width: 18px;
    border-radius: 50%;
    border: none;
}


input[type="range"]{     
    width: 100%;
    height: 12%;
}


/* --------------------- */


.text-aside{
    position: fixed;
    left: 0;
}



.container-text-colors{
    border: 1px solid rgb(225, 6, 6);
    width: 100%;
    justify-content: space-between;
}


.container-filtros{
    flex-direction: column;
    border: 1px solid white;
}


.filtro{
    margin-bottom: 5%;
}


.half-text-color{
    width: 100%;
    align-items: center;
}

select{
    width: 45%;
    padding-left: 5px;
}


.container-tamaño-alineacion{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.tipografia{
    width: 100%;
}


.tamaño-tipografia{
    width: 50%;
    padding-left: 5px;
}


span{
    display: block;
}


.container-button-contorno{
    justify-content: space-between;
}


.container-button-contorno button{
    padding: 6%;
}


input[id="espaciado"]{
    width: 100%;
    padding-left: 5px;
}


.interlineado{
    width: 100%;
}




input[type="reset"]{
    width: 80%;
    margin-top: 10%;
}



/* ----------------------------- 

- PARA PASAR LOS INPUT DE TEXTO SUPERIOR E INFERIOR >> INNER HTML

- MODO CLARO Y MODO OSCURO >> TOGGLE

- TOP TEXT Y BUTTOM TEXT NO SON PLACEHOLDERS, SON VALUES.

----------------------

PREGUNTAS:

1) Como hacer que si el texto es muy largo, baje solo de linea


-----------------------

QUEDA ORDENAR DESDE HALF-COLOR DEL ASIDE IMG



*/





